<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>milan-loiky | templates  /  projects -> templates</title>
  <link rel="stylesheet" href="../../assets/main/styles/main.css">
  <link rel="stylesheet" href="../../assets/main/style/header.css">
  <link rel="stylesheet" href="../../assets/main/style/footer.css">
  <link rel="stylesheet" href="../../assets/projects/templates/explicit/style.css">
</head>
<body>
    <div class="container">
      <div class="header">
        <h1>milan_loiky</h1>
        <br><hr><br>
        <a href="../../projects/templates/">View my templates</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://creativemarket.com/milan_loiky">View my store</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://github.com/milan-loiky">View my GitHub</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="../../support/">Get Support via Discord</a>
        <br><br>
      </div>
      <div class="content">
        <h2>View my Templates:</h2>
        <br><hr><br>
        <div class="template-list">
            <div class="template-item" onclick="window.location.href='../../projects/templates/simple_login_+_register_form/'">
                <h3>Simple login + register form</h3>
                <img src="../../assets/projects/templates/images/simple_login_+_register_form.png" alt="simple_login_+_register_form.png" class="template-img">
                <br>
                <a class="bold">Product Informations:</a><br>
                <a>Type:&nbsp;&nbsp;&nbsp;only html / cs&nbsp;&nbsp;&nbsp;-->&nbsp;&nbsp;&nbsp;script not included</a>
            </div>
        </div>
      </div>
      <div class="footer">
        <a href="../../legal/privacy/">Privacy Policy</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="../../legal/terms/">Terms of Service</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="../../legal/copyright/">Copyright Notice</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="../../support/">Get Support via Discord</a>
        <br><br><hr><br>
        <p>You can view the Version <a href="https://milan-loiky.github.io/milan_loiky/">here</a></p>
        <p>© 2025 milan_loiky. All rights reserved.</p>
        </p>
      </div>
    </div>
</body>
</html>